.statistics-section {
  text-align: center;
}

.statistics-section__title {
  margin-right: auto;
  margin-bottom: var(--space-6);
  margin-left: auto;
}

.statistics-section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: calc(-1 * var(--space-5));
  margin-left: calc(-1 * var(--space-5));
}

.statistics-section__item {
  flex: 1 1 50%;
  max-width: 50%;
  padding-top: var(--space-5);
  padding-left: var(--space-5);
}

@media (min-width: 640px) {
  .statistics-section__title {
    margin-bottom: var(--space-7);
  }

  .statistics-section__item {
    flex: 1 1 calc(100% / 3);
    max-width: calc(100% / 3);
  }
}

@media (min-width: 960px) {
  .statistics-section__title {
    margin-bottom: var(--space-8);
  }
}

/* card */
.statistic-card {
  text-align: center;
}

.statistic-card__display {
  margin: 0 auto;
}

.statistic-card__desc {
  margin-top: var(--space-3);
}

.statistic-card__desc p {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 960px) {
  .statistic-card__desc {
    font-size: var(--font-scale-5);
  }
}
