.blog-post-tag-nav {
  padding-top: var(--space-5);
  border-top: var(--border-width-1) solid var(--grey);
}

.blog-post-tag-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: calc(-1 * var(--space-2));
  margin-left: calc(-1 * var(--space-2));
}

.blog-post-tag-nav__tag {
  margin-top: var(--space-2);
  margin-left: var(--space-2);
}
