.service-badge {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: var(--grey);
}

.service-badge[data-id*='beauty-aesthetics'] {
  background-color: var(--clinical-blue);
}

.service-badge[data-id*='group-fitness-classes'] {
  background-color: var(--sherpa);
}

.service-badge[data-id*='lifestyle-children'] {
  background-color: var(--onahau);
}

.service-badge[data-id*='medical'] {
  background-color: var(--anakiwa);
}

.service-badge[data-id*='personal-training'] {
  background-color: var(--shark);
}

.service-badge[data-id*='wellness'] {
  background-color: var(--grey);
}
