.page-header {
  color: var(--secondary-text-color);
}

.page-header__label {
  margin-bottom: var(--space-4);
}

.page-header__title {
  margin-bottom: 0;
}

.page-header__desc {
  margin-top: var(--space-5);
}

/* theme: dark */
.page-header--dark {
  color: var(--white);
}
