:root {
  --beige: #fadaba;
  --green: #005133;
  --light-green: #7aea7a;
  --lime: #c5eb74;
  --teal: #02b9cf;
  --light-teal: #b8dedc;
  --light-blue: #8dadae;
  --red: #ea7566;
  --slate: #466061;
  --black: #20201d;
  --dark-grey: #696969;
  --mid-grey: #a8a8ae;
  --grey: #c5c5c5;
  --light-grey: #f5f5f5;
  --white: #ffffff;
  --off-white: #ecede4;
  --clinical-blue: #00c1d5;
  --clinical-grey: #eae7e4;
  --border-width-1: 0.0625rem;
  --border-width-2: 0.125rem;
  --border-width-3: 0.25rem;
  --border-radius-1: 0.25rem;
  --border-radius-2: 0.5rem;
  --border-radius-3: 1rem;
  --border-radius-pill: 10rem;
  --opacity-dim: 0.85;
  --opacity-overlay: 0.65;
  --opacity-faint: 0.1;
  --transition-time: 0.35s;
  --transition-time-fast: 0.15s;
  --transition-time-slow: 0.85s;

  --background: var(--off-white);
  --light-background: var(--light-grey);
  --primary-text-color: var(--black);
  --secondary-text-color: var(--green);
}
