:root {
  /*
   * Some colours are named using:
   * https://chir.ag/projects/name-that-color/
   */
  --turqoise: #80f7ff;
  --beige: #fadaba;
  --black: #20201d;
  --clinical-blue: #00c1d5;
  --clinical-grey: #eae7e4;
  --dark-grey: #696969;
  --green: #005133;
  --grey: #c5c5c5;
  --lagoon: #008c95;
  --light-blue: #8dadae;
  --light-green: #7aea7a;
  --light-grey: #f5f5f5;
  --light-teal: #b8dedc;
  --lime: #c5eb74;
  --mid-grey: #a8a8ae;
  --off-white: #ecede4;
  --onahau: #bffbff;
  --polar: #e8f6f9;
  --red: #ea7566;
  --slate: #466061;
  --teal: #02b9cf;
  --white: #ffffff;
  --ziggurat: #b8d4de;
  --shark: #1d1e20;
  --sherpa: #005151;
  --blue-chill: #158f95;

  --border-width-1: 0.0625rem;
  --border-width-2: 0.125rem;
  --border-width-3: 0.25rem;
  --border-radius-1: 0.25rem;
  --border-radius-2: 0.5rem;
  --border-radius-3: 1rem;
  --border-radius-pill: 10rem;
  --opacity-dim: 0.85;
  --opacity-overlay: 0.65;
  --opacity-faint: 0.1;
  --transition-time: 0.35s;
  --transition-time-fast: 0.15s;
  --transition-time-slow: 0.85s;

  --background: var(--polar);
  --light-background: var(--light-grey);
  --primary-text-color: var(--shark);
  --secondary-text-color: var(--sherpa);
}
