<!--
  templateType: blog
  isAvailableForNewContent: true
  label: Core Collective - blog post
-->
{% extends "./layouts/base.html" %}

{% block body %}
  <main class="body-container-wrapper">
    {# hero images #}
    <div class="body-container body-container--l body-container--pull">
      <div class="f-section f-section--black">
        <div class="f-row">
          {% module "hero_images"
            path='/core-collective-theme/modules/media/hero-images',
            label="Hero images",
            hero_images=[{
              size_type: "auto",
              src: content.featured_image,
              alt: content.featured_image_alt_text,
            }]
          %}
        </div>
      </div>
    </div>

    {# header #}
    <div class="body-container body-container--s">
      <div class="f-section f-section--black">
        {# headings #}
        <div class="f-row">
          {% module "page_header"
            path="/core-collective-theme/modules/headers/page-header",
            label="Page header",
            title={{ content.name | striptags }},
            label_text=""
            is_dark_theme=true,
          %}
        </div>

        {# meta #}
        <div class="
          post__meta post__meta--dark
          f-row">
          <time
            datetime="{{ content.publish_date | datetimeformat('%Y-%m-%e %H:%M:%S') }}"
            class="time time--dark">
            {{ content.publish_date | datetimeformat('%e %b %Y') }}
          </time>
        </div>
      </div>
    </div>

    {# body #}
    <div class="body-container body-container--s">
      <div class="f-section">
        {# content #}
        <div class="f-row">
           {{ content.post_body }}
        </div>

        <div class="f-row">
          <div class="post-social-sharing">
            {% blog_social_sharing "blog_social_sharing" %}
          </div>
        </div>

        {# tags #}
        <div class="f-row">
          {% module "blog_post_tag_nav"
            path='/core-collective-theme/modules/navs/blog-post-tag-nav',
            label="Tags",
          %}
        </div>
      </div>
    </div>

    {# footer #}
    <div class="body-container">
      <div class="f-section">
        {# featured articles #}
        <div class="f-row">
          {% module "articles_section"
            path='/core-collective-theme/modules/sections/articles-section',
            label="Featured contributor",
          %}
        </div>
      </div>
    </div>
  </main>
{% endblock body %}
