<!--
  templateType: blog
  isAvailableForNewContent: true
  label: Core Collective - FAQ index
-->
{% extends "./layouts/base.html" %}

{% block body %}
  <main class="body-container-wrapper">
    <div class="body-container">
      {# header #}
      <div class="f-section">
        <div class="f-row">
          {% module "page_header"
            path="/core-collective-theme/modules/headers/page-header",
            label="Page header",
            title="Core Collective Help Centre",
            label_text="FAQ",
            desc="",
          %}
        </div>
      </div>
    </div>

    <div class="body-container body-container--pull-top">
      <div class="f-section">
        {# featured posts #}
        <div class="f-row">
          {% module "faq_section"
            path="/core-collective-theme/modules/sections/faq-section",
            label="FAQ section",
            title="Popular questions",
            blog={{ group.id }},
            is_linked=false,
          %}
        </div>

        {# posts #}
        {% set tags = blog_tags(group.id, 250) %}
        {% for tag in tags %}
          {% if tag.slug != "featured" %}
            <div class="
              faq-index__topic-row
              f-row">
              <div class="faq-index__topic-row-content">
                {% module "topic_list_article"
                  path="/core-collective-theme/modules/articles/topic-list-article",
                  label="Topic list article",
                  title={{ tag.name }},
                  blog={{ group.id }},
                  topic={{ tag.slug }},
                %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock body %}
