<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
-->
{% extends "./layouts/base.html" %}

{% block body %}
  <main class="body-container-wrapper">
    {% dnd_area 'header_area'
      class='body-container body-container--l',
      label='Header area',
    %}
      {# header #}
      {% dnd_section %}
        {% dnd_module
          path='/core-clinic-theme/modules/headers/page-header',
          label="Page header",
          headline="",
          desc="",
        %}
        {% end_dnd_module %}
      {% end_dnd_section %}

      {# splash #}
      {% dnd_section
        background_color={
          'r': 32,
          'g': 32,
          'b': 29,
          'a': 1.0
        },
      %}
        {% dnd_module
          path='/core-clinic-theme/modules/sections/splash-section',
          label="Splash section",
          is_dark_theme=true,
        %}
        {% end_dnd_module %}
      {% end_dnd_section %}
    {% end_dnd_area %}

    {% dnd_area 'body_area'
      class='body-container',
      label='Body area',
    %}
      {# locations #}
      {% dnd_section %}
        {% dnd_module
          path="/core-clinic-theme/modules/sections/locations-section",
          label="Locations section",
        %}
        {% end_dnd_module %}
      {% end_dnd_section %}

      {# divider #}
      {% dnd_section
        padding={
          'top': 0,
          'bottom': 0,
          'left': 0,
          'right': 0
        },
      %}
        {% dnd_module
          path="/core-clinic-theme/modules/elements/divider",
          label="Divider",
        %}
        {% end_dnd_module %}
      {% end_dnd_section %}

      {# upcoming events #}
      {% dnd_section %}
        {% dnd_module
          path="/core-clinic-theme/modules/sections/events-section",
          label="Events section",
        %}
        {% end_dnd_module %}
      {% end_dnd_section %}

      {# aside cards #}
      {% dnd_section %}
        {# card #}
        {% dnd_module
          path="/core-clinic-theme/modules/cards/card",
          label="PT card",
          offset=0,
          width=6,
        %}
        {% end_dnd_module %}

        {# newsletter card #}
        {% dnd_module
          path="/core-clinic-theme/modules/cards/form-card",
          label="Newsletter signup card",
          offset=6,
          width=6,
        %}
        {% end_dnd_module %}
      {% end_dnd_section %}
    {% end_dnd_area %}
  </main>
{% endblock body %}
