<!--
  templateType: page
  isAvailableForNewContent: true
  label: Service category index
-->
{% extends "./layouts/base.html" %}

{% block body %}
  <main class="body-container-wrapper">
    {% dnd_area 'header_area'
      class='body-container',
      label='Header area',
    %}
      {% dnd_section %}
        {% dnd_column %}
          {# header #}
          {% dnd_row %}
            {% dnd_module
              path='/core-clinic-theme/modules/headers/page-header',
              label="Page header",
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}

          {# service groups #}
          {% dnd_row %}
            {% dnd_module
              path='/core-clinic-theme/modules/sections/groups-section',
              label="Service categories section",
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_section %}
    {% end_dnd_area %}

    {% dnd_area 'body_area'
      class='body-container',
      label='Body area',
    %}
      {# packages #}
      {% dnd_section
        background_color={
          'r': 245,
          'g': 245,
          'b': 245,
          'a': 1.0
        },
      %}
        {% dnd_module
          path='/core-clinic-theme/modules/sections/articles-section',
          label="Special packages section",
        %}
        {% end_dnd_module %}
      {% end_dnd_section %}
    {% end_dnd_area %}

    {% dnd_area 'footer_area'
      class='body-container',
      label='Footer area',
    %}
      {# featured services #}
      {% dnd_section %}
        {% dnd_module
          path='/core-clinic-theme/modules/sections/services-section',
          label="Featured services section",
        %}
        {% end_dnd_module %}
      {% end_dnd_section %}
    {% end_dnd_area %}
  </main>
{% endblock body %}
