.card {
  padding: var(--space-6) var(--space-5);
  border-radius: var(--border-radius-3);
}

.card__kicker {
  margin-bottom: var(--space-2);
}

.card__title {
  margin-bottom: 0;
}

.card__excerpt {
  margin-top: var(--space-3);
}

.card__button {
  margin-top: var(--space-4);
}

@media (min-width: 640px) {
  .card {
    padding: var(--space-7) var(--space-6);
  }
}

@media (min-width: 960px) {
  .card {
    padding: var(--space-8) var(--space-7);
  }
}

/* variant: green */
.card--green {
  background: var(--green);
  color: var(--white);
}

.card--green .card__kicker {
  color: var(--beige);
}

/* variant: beige */
.card--beige {
  background: var(--beige);
}

.card--beige .card__kicker {
  color: var(--dark-grey);
}

/* variant: grey */
.card--grey {
  background: var(--grey);
}

.card--grey .card__kicker {
  color: var(--black);
}

/* variant: shark */
.card--shark {
  background: var(--shark);
  color: var(--white);
}

.card--shark .card__kicker {
  color: var(--grey);
}

/* variant: turquoise */
.card--turquoise {
  background: var(--turquoise);
}

.card--turquoise .card__kicker {
  color: var(--sherpa);
}
