.driver__a:hover {
  color: var(--dark-grey);
}

.driver__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-1);
}

.driver__title,
.driver__icon {
  flex: 0 0 auto;
}

.driver__title {
  margin-right: var(--space-1);
  margin-bottom: 0;
  font-size: var(--font-scale-6);
}

.driver__excerpt {
  transition: color var(--transition-time-fast);
  color: var(--dark-grey);
  font-size: var(--font-scale-8);
  font-weight: 600;
  letter-spacing: var(--track);
  line-height: var(--line-height-snug);
}

.driver__a:hover .driver__excerpt {
  color: var(--mid-grey);
}
