.package-card__body {
  padding: var(--space-4);
  border-radius: var(--border-radius-3);
  background: var(--background);
}

.package-card__badge {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}

.package-card__badge-icon {
  margin-right: var(--space-1);
}

.package-card__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.package-card__title {
  flex: 1 1 50%;
  max-width: 50%;
  margin-bottom: 0;
  padding-right: var(--space-3);
  font-size: var(--font-scale-6);
}

.package-card__price-grp {
  flex: 1 1 50%;
  max-width: 50%;
  padding-left: var(--space-3);
  text-align: right;
}

.package-card__price {
  font-size: var(--font-scale-4);
}

.package-card__label {
  margin-top: var(--space-1);
  color: var(--dark-grey);
  font-size: var(--font-scale-8);
  font-weight: 600;
  letter-spacing: var(--track);
  line-height: var(--line-height-tight);
}

.package-card__buy-grp {
  display: flex;
  align-items: flex-start;
  margin-top: var(--space-3);
}

.package-card__button-wrap {
  flex: 0 0 auto;
  margin-right: var(--space-5);
}

.package-card__excerpt {
  flex: 1 1 auto;
  padding-top: var(--space-2);
  border-top: var(--border-width-1) solid var(--grey);
  color: var(--dark-grey);
  font-size: var(--font-scale-8);
  font-weight: 600;
  letter-spacing: var(--track);
}

/* variant: with badge */
.package-card--badge {
  position: relative;
  padding-top: var(--space-4);
}

.package-card__body--badge {
  padding-top: calc(var(--space-4) + var(--space-3));
}

.package-banner--sherpa .package-card__body {
  background-color: var(--shark);
  color: var(--white);
}

.package-banner--sherpa .package-card__badge {
  background-color: var(--white);
  color: var(--blue-chill);
}

.package-banner--sherpa .package-card__badge-icon {
  color: var(--sherpa);
}
