.error-page {
  padding: 10rem 0;
  overflow: hidden;
  text-align: center;
}

.error-page::before {
  content: attr(data-error);
  display: block;
  margin-bottom: var(--space-4);
  color: var(--dark-grey);
  font-size: var(--font-scale-4);
  font-weight: 700;
}

@media (min-width: 960px) {
  .error-page::before {
    font-size: var(--font-scale-3);
  }
}

.error-page__heading {
  margin-bottom: var(--space-5);
}

.error-page__content {
  position: relative;
  z-index: 2;
}

.error-page p {
  margin-right: auto;
  margin-left: auto;
}
