.event-post__meta {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.event-post__start {
  padding-right: var(--space-3);
}

.event-post__price {
  padding-left: var(--space-3);
}
