<!--
  templateType: email_backup_unsubscribe_page
  isAvailableForNewContent: true
  label: Core Collective - email backup unsubscribe
-->
{% extends '../layouts/base.html' %}

{% block body %}
  <main class="body-container-wrapper">
    <section class="f-section">
      <div class="
        f-row
        systems-page">
        {% module 'backup_unsubscribe'
          extra_classes='backup-unsubscribe',
          path='@hubspot/email_simple_subscription'
        %}
      </div>
    </section>
  </main>
{% endblock body %}