<!--
  templateType: email_subscriptions_confirmation_page
  isAvailableForNewContent: true
  label: Core Collective - email subscriptions confirmation
-->
{% extends '../layouts/base.html' %}

{% block body %}
  <main class="body-container-wrapper">
    <div class="body-container body-container--s">
      <section class="f-section">
        <div class="
          f-row
          systems-page">
          {% module 'subscriptions_confirmation'
          path='@hubspot/email_subscriptions_confirmation'
        %}
        </div>
      </section>
    </div>
  </main>
{% endblock body %}
